@font-face {
    font-family: 'Sunsilk';
    src: url('SunsilkRegular.woff2') format('woff2'),
        url('SunsilkRegular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

